@model FIT5120_Onboarding.Models.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectionDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextWaste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextWaste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextRecycle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextRecycle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextGreen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextGreen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
